@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");
.wrapper-products .owl-prev, .wrapper-products .owl-next, .section-full_product .owl-prev, .section-full_product .owl-next {
  position: absolute;
  top: 40%;
  font-size: 70px;
  margin: 0 -20px; }

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px; }

button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

div, section, article, header, footer {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  outline: 0;
  text-decoration: none;
  color: black; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  display: block; }

form input {
  border: 1px solid white; }
  form input.error {
    border: 1px solid red; }

form label.error {
  position: absolute;
  color: red;
  width: 100%;
  display: block;
  white-space: nowrap;
  bottom: -30px; }

.wrap {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin: auto; }

.desktop {
  display: none; }

.tablet {
  display: none; }

.mobile {
  display: block; }

.mobile-tablet {
  display: block; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.v-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.v-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.v-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.row-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.m-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

header {
  margin: 15px 0 0; }

.tel {
  font-size: 20px;
  margin: auto; }

#logo {
  width: 126px;
  height: 32px;
  background: url("../img/main-logo.svg") no-repeat center 100%/cover;
  display: block;
  margin: auto; }

.lang_fav_cart_prof i {
  font-size: 23px;
  cursor: pointer; }

.language {
  background: white;
  border: 1px solid black;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 56px;
  height: 26px;
  position: relative; }
  .language a {
    margin: auto;
    display: block;
    text-align: center;
    line-height: 24px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-right: 15px; }
  .language i {
    right: 5px;
    font-size: 16px;
    top: 5px;
    position: absolute; }
  .language a:hover {
    color: #d26e2c; }
  .language .active:hover {
    background: white;
    color: #000; }
  .language .rus {
    display: none; }

.wrapper-top-head {
  border-bottom: 1px solid black;
  padding-bottom: 15px; }

.delimiter {
  margin: 0 10px;
  font-size: 23px;
  font-weight: 300; }

.enter {
  margin-left: 20px; }
  .enter a:hover {
    color: #d26e2c; }
  .enter i {
    margin-left: 5px; }

.main-cart i {
  font-size: 35px; }

.main-cart a {
  position: relative; }

.empty-card {
  position: relative; }

.empty-wish {
  position: relative; }

.message-empty {
  position: absolute;
  top: 40px;
  background: white;
  z-index: 1;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 300px;
  right: -15px;
  padding: 5px 8px;
  display: none; }
  .message-empty h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    display: block; }
  .message-empty p {
    font-size: 12px;
    margin-top: 5px; }

.message-empty:after {
  content: "\f0d8";
  font-family: FontAwesome, serif;
  position: absolute;
  right: 17px;
  font-size: 25px;
  top: -18px;
  color: #b3b3b3; }

.wish {
  cursor: pointer; }
  .wish a {
    position: relative; }

.empty--wish {
  display: none; }

.mob-menu {
  font-size: 35px; }

.empty-wish a {
  display: none; }

.empty-wish .empty--wish {
  display: block; }

.wish .count,
.main-cart .count {
  display: block;
  position: absolute;
  top: -13px;
  right: -13px;
  font-size: 11px;
  background: #d26e2c;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.site-menu-search {
  margin-top: 15px; }

.site-menu {
  font-size: 19px;
  text-transform: uppercase; }
  .site-menu ul li {
    margin-right: 20px; }

.btn_search {
  display: block;
  background: none;
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
  position: relative; }

.btn_search::after {
  content: '\f002';
  font-family: FontAwesome, serif;
  color: #000;
  font-size: 18px;
  display: block;
  position: absolute;
  top: 0; }

.search input {
  height: 30px;
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #999999;
  width: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s; }

.search .active input {
  width: 100%;
  opacity: 1; }

.owl-dots {
  position: absolute;
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 5px; }
    .owl-dots .owl-dot span {
      display: block;
      width: 12px;
      height: 12px;
      background: white;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #d26e2c; }
  .owl-dots .active span {
    background: #d26e2c; }

.slider_desktop .owl-dots {
  bottom: 5px;
  left: 50%; }

.slider_desktop .owl-stage-outer {
  height: auto; }

.slider_desktop .content img {
  top: 0;
  z-index: 0; }

.slider_desktop .content .wrapper {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 0; }

.text-blocks {
  margin-top: 10%; }
  .text-blocks .title {
    color: white;
    font-size: 25px;
    font-weight: 600; }
  .text-blocks .sub-title {
    font-size: 16px;
    color: white; }

.bnt_go-to {
  display: block;
  background: #d26e2c;
  color: white;
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.section_name {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase; }
  .section_name h1, .section_name h2, .section_name h3, .section_name h4, .section_name h5, .section_name h6 {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase; }

.section_name:after {
  content: '';
  display: block;
  width: 55px;
  height: 2px;
  background: #d26e2c;
  margin: 18px auto 0; }

.m-top {
  margin-top: 50px; }

.wrapper-products .owl-dots {
  width: 100%;
  padding: 0 20px;
  bottom: 340px; }

.wrapper-products .owl-stage-outer {
  padding: 20px 0; }

.wrapper-products .owl-prev {
  left: 0; }

.wrapper-products .owl-next {
  right: 0; }

.product {
  display: block;
  width: 90%;
  margin: auto;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  -webkit-transition: .5s;
  transition: .5s; }
  .product .product_image {
    width: 100%;
    display: block;
    position: relative; }
    .product .product_image img {
      width: 100%; }

.product_btns_name {
  padding: 20px;
  height: 240px;
  position: relative; }

.btn_price {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 20px;
  bottom: 0; }
  .btn_price .v-bottom {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

.btn {
  width: 100%;
  height: 54px;
  border: 1px solid #d26e2c;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 54px;
  text-transform: uppercase;
  font-size: 20px;
  background: white;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s; }

.btn_buy i {
  margin-right: 5px; }

.product-title {
  font-size: 20px; }

.product-price {
  font-size: 31px;
  margin-bottom: 20px;
  color: #d26e2c;
  font-weight: 600;
  line-height: 22px; }
  .product-price span {
    font-size: 22px; }
  .product-price .old_prise {
    font-size: 17px;
    font-weight: normal;
    color: black;
    text-decoration: line-through; }
    .product-price .old_prise span {
      font-size: 17px; }

.label {
  position: absolute;
  padding: 0 20px;
  color: white;
  top: 40px;
  left: -13px;
  line-height: 49px;
  font-size: 20px;
  width: 150px;
  height: 69px;
  background: url("../img/label.png") no-repeat center/cover; }

.section-news {
  padding: 70px 0 20px;
  background: #f2f2f2; }

.news {
  display: block;
  position: relative;
  height: 300px;
  background: white;
  width: 100%;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); }

.news-image {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #d26e2c; }
  .news-image img {
    min-width: 100%;
    min-height: 220px;
    height: 100%;
    width: auto;
    position: relative;
    left: 50%; }

.news-text {
  text-transform: uppercase;
  padding: 0 30px;
  height: 80px; }

.section-subscription {
  padding: 50px 0;
  background: #404040;
  color: white; }

.text-subscription, .text-subscription h1, .text-subscription h2, .text-subscription h3, .text-subscription h4, .text-subscription h5, .text-subscription h6 {
  color: white;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase; }

.text-subscription {
  max-width: 640px;
  width: 100%;
  margin-bottom: 20px; }

.wrapper-form-subscription {
  width: 100%; }

.in-subscription {
  width: 100%;
  height: 45px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px; }

.btn-subscription {
  display: block;
  background: #d26e2c;
  color: white;
  height: 45px;
  width: 145px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: -10px;
  z-index: 1; }

.form-group {
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.section_description_name {
  text-align: center;
  margin: 20px 0;
  font-size: 18px; }

.map {
  position: relative; }

.disable {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.s-m-links a,
.s-m-links p {
  display: block;
  margin: 10px 0;
  font-size: 18px; }

.footer-logo, .site-map {
  width: 210px; }

.footer-logo {
  display: block;
  background: url("../img/footer-logo.svg") no-repeat center/cover;
  margin: auto;
  height: 222px; }

.copyright {
  background: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 12px; }

.s-m-title, .s-m-title h1, .s-m-title h2, .s-m-title h3, .s-m-title h4, .s-m-title h5, .s-m-title h6 {
  font-size: 26px; }

.s-m-title {
  border-bottom: 1px solid #d26e2c;
  padding-bottom: 5px;
  margin-bottom: 10px; }

.s-m-3 {
  margin: 40px auto 0;
  text-align: center; }

.fixed-callback_soc_links .soc_link, .f-callback {
  color: white;
  display: block;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  font-weight: normal; }

.fixed-callback_soc_links {
  background: #333333;
  position: fixed;
  left: -130px;
  top: 50%;
  z-index: 2;
  color: white;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: center; }
  .fixed-callback_soc_links .soc_link {
    width: 40px;
    border-bottom: 1px solid white;
    line-height: 40px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.f-callback {
  white-space: nowrap;
  line-height: 40px;
  padding: 0 20px;
  -webkit-transition: .5s;
  transition: .5s; }

.p-pad {
  padding: 10px 20px; }

.popup-block {
  position: relative;
  background: white;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .popup-block .popup-name {
    font-size: 20px;
    font-weight: 300;
    border-bottom: 2px solid #d26e2c;
    text-transform: uppercase; }

.in-main {
  border: 1px solid #b3b3b3;
  width: 100%;
  margin: 10px 0 20px;
  height: 29px;
  padding: 0 10px; }

#f-p-callback label.error {
  top: inherit;
  bottom: -20px; }

.crumbs {
  margin-top: 30px; }
  .crumbs ul li {
    margin-right: 10px; }
    .crumbs ul li:after {
      content: '/';
      margin-left: 10px; }
    .crumbs ul li:last-child a {
      cursor: default; }
      .crumbs ul li:last-child a:hover {
        color: black; }
    .crumbs ul li:last-child:after {
      content: ''; }

.section-filter {
  background: #cccccc;
  margin-top: 30px; }

.base-name {
  display: block;
  padding: 10px;
  text-transform: uppercase; }

.size {
  text-transform: uppercase; }

.t-size {
  display: block;
  margin-right: 10px; }

.i-size {
  display: block;
  width: 30px;
  height: 30px;
  background: #666666;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  text-align: center;
  line-height: 30px; }

.sizes {
  border-bottom: 1px solid #999999;
  padding: 10px 20px; }

.b-size {
  margin: 0 10px;
  display: block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d26e2c;
  text-transform: uppercase; }

.main-products .product {
  margin: 0 10px 30px; }

.st-page {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #cccccc;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0; }
  .st-page:last-child {
    border: 1px solid #cccccc; }

.pagination .active {
  background: #d26e2c;
  border: 1px solid #d26e2c;
  color: white; }

.load-more {
  margin: 40px auto 80px;
  text-align: center; }

.btn-load {
  display: block;
  color: #d26e2c;
  font-size: 60px; }

.pr-images {
  width: 100%; }

.pr-image img {
  width: 100%;
  height: auto; }

.pr-image-1 {
  width: 49%; }

.pr-image-2 {
  width: 49%; }

.mfp-bottom-bar {
  display: none !important; }

.section-full_product .owl-dots {
  position: relative;
  margin: 30px auto 0; }

.section-full_product .owl-prev {
  left: 0;
  font-size: 40px;
  margin-top: -10px; }

.section-full_product .owl-next {
  right: 0;
  font-size: 40px;
  margin-top: -10px; }

.pr-info {
  width: 100%;
  margin-top: 30px; }

.pr-name, .pr-name h1, .pr-name h2, .pr-name h3, .pr-name h4, .pr-name h5, .pr-name h6 {
  font-size: 32px;
  font-weight: normal; }

.pr-name {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px; }

.pr-prise-btns {
  margin-top: 30px;
  padding: 20px;
  background: #fafafa; }
  .pr-prise-btns .v-center {
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit; }

.pr-btns .btn {
  display: block;
  margin-bottom: 10px; }
  .pr-btns .btn .fa {
    margin-right: 5px; }
  .pr-btns .btn:last-child {
    margin-bottom: 0; }

.size-btns input[type="radio"] {
  display: none; }

.in-group {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px; }
  .in-group label {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase; }
  .in-group .active {
    background: #d26e2c;
    color: white;
    border: 1px solid #d26e2c; }

.pr-name-cat {
  font-size: 22px;
  margin-top: 50px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px; }

@media (min-width: 600px) {
  .blocks-1 {
    width: 48%; }
  .blocks-2 {
    width: 48%; }
  .blocks-3 {
    width: 48%; }
  .news {
    height: 320px; }
  .news-text {
    padding: 0 20px;
    height: 100px; }
  .footer-logo, .site-map {
    width: 210px; }
  .base-name {
    padding: 20px; }
  .main-products .product {
    width: 300px; }
  .main-products .product-price {
    font-size: 20px; }
  .car-pr-img {
    margin-top: 30px; }
  .itm-img {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: auto;
    display: block; }
    .itm-img img {
      width: 100%; } }

@media (min-width: 768px) {
  .main-cart {
    position: relative; }
    .main-cart i {
      font-size: 55px; }
  form label.error {
    top: -30px;
    bottom: inherit; }
  .mob-menu {
    font-size: 55px; }
  #logo {
    width: 205px;
    height: 52px; }
  .text-blocks {
    margin-top: 10%; }
    .text-blocks .title {
      font-size: 63px; }
    .text-blocks .sub-title {
      font-size: 44px; }
  .bnt_go-to {
    width: 228px;
    height: 49px;
    line-height: 49px;
    font-size: 25px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.58);
    margin-top: 20px; }
  .m-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .tablet {
    display: block; }
  .btn_price {
    padding: 0 20px;
    bottom: 20px; }
    .btn_price .v-bottom {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end; }
  .product-price {
    margin-bottom: 0; }
  .product_btns_name {
    height: 175px; }
  .btn {
    width: 137px;
    height: 34px;
    border: 1px solid #d26e2c;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 14px; }
  .wish .count,
  .main-cart .count {
    top: -33px;
    right: -13px;
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px; }
  .blocks-1 {
    width: 100%; }
  .blocks-2 {
    width: 48%; }
  .blocks-3 {
    width: 31%; }
  .news-image img {
    height: 100%; }
  .news-text {
    padding: 0 30px;
    height: 80px; }
  .text-subscription, .text-subscription h1, .text-subscription h2, .text-subscription h3, .text-subscription h4, .text-subscription h5, .text-subscription h6 {
    font-size: 22px; }
  .text-subscription {
    margin-bottom: 0; }
  .footer-logo {
    margin: 0; }
  .s-m-3 {
    margin: 0;
    text-align: left; }
  .s-m-title, .s-m-title h1, .s-m-title h2, .s-m-title h3, .s-m-title h4, .s-m-title h5, .s-m-title h6 {
    font-size: 16px; }
  .site-map {
    width: 210px; }
  .s-m-links a,
  .s-m-links p {
    display: block;
    margin: 10px 0;
    font-size: 16px; }
  .itm-img {
    width: 120px;
    height: 150px; }
  .pr-images {
    width: 60%; }
  .pr-info {
    width: 38%;
    margin-top: 0; }
  .pr-prise-btns .v-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .pr-btns .btn {
    width: 173px; } }

@media (min-width: 1200px) {
  body {
    padding: 0; }
  .wrap {
    padding: 0;
    width: 1160px; }
  .desktop {
    display: block; }
  .mobile {
    display: none; }
  .mobile-tablet {
    display: none; }
  .language:hover .rus {
    display: block; }
  a {
    -webkit-transition: .5s;
    transition: .5s; }
  a:hover {
    color: #d26e2c; }
  .enter a:hover {
    color: #d26e2c; }
  .wish:hover a,
  .wish:hover i {
    color: #d26e2c; }
  .cart:hover a,
  .cart:hover i {
    color: #d26e2c; }
  .empty-card:hover .message-empty {
    display: block; }
  .empty-wish:hover .message-empty {
    display: block;
    cursor: default; }
  #logo {
    margin: 0; }
  .main-cart i {
    font-size: 23px; }
  .slider_desktop .owl-dots {
    bottom: 20px; }
  .slider_desktop .owl-stage-outer {
    height: 450px; }
  .bnt_go-to:hover {
    background: #a85823;
    color: white; }
  header {
    margin: 15px 0; }
  .product {
    width: 290px;
    margin: auto;
    height: 630px;
    border: 1px solid #cccccc; }
  .product:hover {
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4); }
  .product_btns_name {
    height: 140px; }
  .main-cart .count {
    top: -13px;
    right: -13px;
    font-size: 11px;
    width: 20px;
    height: 20px;
    line-height: 20px; }
  .btn {
    width: 100px;
    height: 34px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 34px; }
    .btn:hover {
      color: #d26e2c; }
  .wrapper-products {
    width: 95%;
    margin: 30px auto 0; }
  .product-title {
    font-size: 16px; }
  .product-price {
    font-size: 20px;
    line-height: 22px; }
    .product-price span {
      font-size: 14px; }
    .product-price .old_prise {
      font-size: 14px; }
      .product-price .old_prise span {
        font-size: 14px; }
  .label {
    top: 40px;
    line-height: 40px;
    font-size: 16px;
    width: 120px;
    height: 55px;
    left: -11px; }
  .news {
    height: 500px; }
  .news-image {
    height: 365px; }
    .news-image img {
      min-width: 100%;
      height: 365px; }
  .news-text {
    height: 135px; }
  .blocks-1 .news-text {
    font-size: 35px; }
  .blocks-2 .news-text {
    font-size: 20px; }
  .blocks-3 .news-text {
    font-size: 18px; }
  .news:hover {
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); }
  .text-subscription {
    width: 55%; }
  .wrapper-form-subscription {
    width: 30%; }
  .btn-subscription:hover {
    background: #a85823; }
  .text-subscription, .text-subscription h1, .text-subscription h2, .text-subscription h3, .text-subscription h4, .text-subscription h5, .text-subscription h6 {
    font-size: 40px; }
  .fixed-callback_soc_links .soc_link:hover, .f-callback:hover {
    background: #d26e2c;
    color: white; }
  .footer-logo, .site-map {
    width: 210px; }
  .main-products .product {
    margin: 0 10px 30px;
    width: 322px;
    height: 690px; }
    .main-products .product .product_image {
      height: 480px; }
  .main-products .product-price {
    font-size: 20px;
    line-height: 22px; }
  .itm-img {
    width: 160px;
    height: 160px; }
  .st-page:hover {
    background: #f2f2f2; }
  .pagination .active:hover {
    background: #d26e2c; }
  .all-pages:hover {
    background: white; }
  .pr-name, .pr-name h1, .pr-name h2, .pr-name h3, .pr-name h4, .pr-name h5, .pr-name h6 {
    font-size: 25px; } }

@media (min-width: 1550px) {
  body {
    padding: 0; }
  .wrap {
    padding: 0;
    width: 1400px; }
  .slider_desktop .owl-stage-outer {
    height: 650px; }
  .product {
    width: 398px;
    margin: auto;
    height: 815px;
    border: 1px solid #cccccc; }
    .product .product_image {
      height: 596px; }
      .product .product_image img {
        width: 100%; }
  .product_btns_name {
    height: 150px; }
  .btn {
    width: 137px;
    height: 34px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 34px; }
  .product-title {
    font-size: 20px; }
  .product-price {
    font-size: 31px;
    line-height: 28px; }
    .product-price span {
      font-size: 22px; }
    .product-price .old_prise {
      font-size: 17px; }
      .product-price .old_prise span {
        font-size: 17px; }
  .label {
    top: 40px;
    line-height: 49px;
    font-size: 20px;
    width: 150px;
    height: 69px;
    left: -13px; }
  .blocks-1 .news-text {
    font-size: 40px; }
  .blocks-2 .news-text {
    font-size: 25px; }
  .blocks-3 .news-text {
    font-size: 22px; }
  .text-subscription {
    width: 45%; }
  .main-products .product-price {
    font-size: 31px;
    line-height: 28px; }
  .pr-name, .pr-name h1, .pr-name h2, .pr-name h3, .pr-name h4, .pr-name h5, .pr-name h6 {
    font-size: 32px; } }

.unregistered .wish a {
  display: none; }
