@media (min-width: 1200px)
  body
    padding: 0
  .wrap
    padding: 0
    width: 1160px
  .desktop
    display: block
  .mobile
    display: none
  .mobile-tablet
    display: none

  .language:hover
    .rus
      display: block
  a
    transition: .5s
  a:hover
    color: $orange

  .enter
    a:hover
      color: $orange
  .wish:hover
    a,
    i
      color: $orange

  .cart:hover
    a,
    i
      color: $orange

  .empty-card:hover
    .message-empty
      display: block

  .empty-wish:hover
    .message-empty
      display: block
      cursor: default

  #logo
    margin: 0

  .main-cart
    i
      font-size: 23px

  .slider_desktop
    .owl-dots
      bottom: 20px
    .owl-stage-outer
      height: 450px

  .bnt_go-to:hover
    background: darken($orange,10)
    color: white

  header
    margin: 15px 0

  .product
    width: 290px
    margin: auto
    height: 630px
    border: 1px solid lighten(black,80)

  .product:hover
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4)

  .product_btns_name
    height: 140px

  .main-cart
    .count
      top: -13px
      right: -13px
      font-size: 11px
      width: 20px
      height: 20px
      line-height: 20px



  .btn
    width: 100px
    height: 34px
    border-radius: 5px
    line-height: 34px
    &:hover
      color: $orange
  .wrapper-products
    width: 95%
    margin: 30px auto 0
  .product-title
    font-size: 16px
  .product-price
    font-size: 20px
    line-height: 22px
    span
      font-size: 14px
    .old_prise
      font-size: 14px
      span
        font-size: 14px

  .label
    top: 40px
    line-height: 40px
    font-size: 16px
    width: 120px
    height: 55px
    left: -11px
  .news
    height: 500px
  .news-image
    height: 365px
    img
      min-width: 100%
      height: 365px
  .news-text
    height: 135px

  .blocks-1
    .news-text
      font-size: 35px

  .blocks-2
    .news-text
      font-size: 20px

  .blocks-3
    .news-text
      font-size: 18px

  .news:hover
    box-shadow: 0 0 25px rgba(black,.5)

  .text-subscription
    width: 55%
  .wrapper-form-subscription
    width: 30%

  .btn-subscription
    &:hover
      background: darken($orange,10)
  %text-subscription
    font-size: 40px

  %fixed-links
    &:hover
      background: $orange
      color: white

  %width_foot_col
    width: 210px
  .t-column
    flex-direction: row
  .main-products
    .product
      margin: 0 10px 30px
      width: 322px
      height: 690px
      .product_image
        height: 480px

    .product-price
      font-size: 20px
      line-height: 22px
  .itm-img
    width: 160px
    height: 160px
  .st-page
    &:hover
      background: lighten(black,95)

  .pagination
    .active
      &:hover
        background: $orange

  .all-pages
    &:hover
      background: white

  %product-tile
    font-size: 25px

  .cover-bnt
    &:hover
      color: white
      background: darken($orange,10)
  .pr-prise-btns
    .product-price
      margin-bottom: 0

  .wrapper-pr-in-pr
    width: 48%
    margin-bottom: 0
  .section-similar
    & .product
      width: 250px
      height: 620px
    & .product_image
      height: 376px
    & .product_btns_name
      height: 170px
    & .product-price
      font-size: 20px
    & .product-price
      span
        font-size: 17px


  .btn-remove
    &:hover
      color: $orange
      border: 1px solid $orange
  %hover-btn
    background: darken($orange,10)
  #form-coupon
    width: 60%
    .btn
      &:hover
        @extend %hover-btn

  #confirm
  @extend %hover-btn

  .product-row
    width: 90%
  .nav-room
    width: 22%
  .cont-room
    width: 60%
    border-left: 1px solid lighten(black,80)
    padding-left: 40px