@media (min-width: 1200px)
  body
    padding: 0
  .wrap
    padding: 0
    width: 1160px
  .desktop
    display: block
  .mobile
    display: none
  .language:hover
    .rus
      display: block
  a:hover
    color: $orange
  .enter
    a:hover
      color: $orange
  .wish:hover
    a,
    i
      color: $orange

  .cart:hover
    a,
    i
      color: $orange

  .empty-card:hover
    .message-empty
      display: block

  .empty-wish:hover
    .message-empty
      display: block
      cursor: default

  #logo
    margin: 0

  .main-cart
    i
      font-size: 23px

  .slider_desktop
    .owl-dots
      bottom: 20px
    .owl-stage-outer
      height: 450px

  .bnt_go-to:hover
    background: darken($orange,10)
    color: white

  header
    margin: 15px 0

  .product
    width: 280px
    margin: auto
    height: 589px
    border: 1px solid lighten(black,80)

  .product:hover
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4)

  .product_btns_name
    height: 140px


  .btn
    width: 120px
    height: 34px
    border-radius: 5px
    line-height: 34px


  .product-title
    font-size: 17px
  .product-price
    font-size: 25px
    line-height: 22px
    span
      font-size: 18px
    .old_prise
      font-size: 14px
      span
        font-size: 14px