@media (min-width: 600px)
  .blocks-1
    width: 48%

  .blocks-2
    width: 48%

  .blocks-3
    width: 48%
  .news
    height: 320px
  .news-text
    padding: 0 20px
    height: 100px

  %width_foot_col
    width: 210px

  .base-name
    padding: 20px

  .main-products
    .product
      width: 300px
    .product-price
      font-size: 20px


  .car-pr-img
    margin-top: 30px
  .itm-img
    width: 160px
    height: 160px
    overflow: hidden
    margin: auto
    display: block
    img
      width: 100%


