@media (min-width: 768px)
  body
    padding: 10px
  .main-cart
    position: relative
    i
      font-size: 55px

  .mob-menu
    font-size: 55px
  #logo
    width: 205px
    height: 52px

  .text-blocks
    margin-top: 10%
    .title
      font-size: 63px
    .sub-title
      font-size: 44px
  .bnt_go-to
    width: 228px
    height: 49px
    line-height: 49px
    font-size: 25px
    border-radius: 5px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.58)
    margin-top: 20px