@media (min-width: 768px)
  .main-cart
    position: relative
    i
      font-size: 55px
  form
    label
      &.error
        top: -30px
        bottom: inherit
  .mob-menu
    font-size: 55px
  #logo
    width: 205px
    height: 52px

  .text-blocks
    margin-top: 10%
    .title
      font-size: 63px
    .sub-title
      font-size: 44px
  .bnt_go-to
    width: 228px
    height: 49px
    line-height: 49px
    font-size: 25px
    border-radius: 5px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.58)
    margin-top: 20px

  .m-column
    flex-direction: row
  .tablet
    display: block
  .btn_price
    padding: 0 20px
    bottom: 20px
    .v-bottom
      align-items: flex-end

  .product-price
    margin-bottom: 0

  .product_btns_name
    height: 175px

  .btn
    width: 137px
    height: 34px
    border: 1px solid $orange
    border-radius: 5px
    text-align: center
    line-height: 34px
    text-transform: uppercase
    font-size: 14px

  .wish,
  .main-cart
    .count
      top: -33px
      right: -13px
      font-size: 15px
      width: 30px
      height: 30px
      line-height: 30px

  .blocks-1
    width: 100%

  .blocks-2
    width: 48%

  .blocks-3
    width: 31%

  .news-image
    img
      height: 100%

  .news-text
    padding: 0 30px
    height: 80px


  %text-subscription
    font-size: 22px

  .text-subscription
      margin:
        bottom: 0

  .footer-logo
    margin: 0
    
  .s-m-3
    margin: 0
    text-align: left


  %font-s-m-title
    font-size: 16px
  .site-map
    width: 210px
  .s-m-links
    & a,
    & p
      display: block
      margin: 10px 0
      font-size: 16px


