@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800')

$orange: #d26e2c

body
  padding: 0
  margin: 0
  background: #fff
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 14px



div,section,article,header,footer
  display: block
  box-sizing: border-box

a
  outline: 0
  text-decoration: none
  color: black

input
  box-sizing: border-box
  outline: 0
  display: block

.wrap
  display: block
  width: 100%
  padding: 0 20px
  margin: auto

.row
  display: flex

.center
  justify-content: center

.left
  justify-content: flex-start

.right
  justify-content: flex-end

.v-center
  align-items: center

.v-top
  align-items: flex-start

.v-bottom
  align-items: flex-end

.row-wrap
  flex-wrap: wrap

.column
  flex-direction: column
header
  margin: 15px 0
.tel
  font-size: 20px
  margin: auto
#logo
  width: 205px
  height: 52px
  background: url("../img/main-logo.svg") no-repeat center 100%/cover
  display: block
.language
  background: white
  border: 1px solid black
  border-radius: 3px
  width: 56px
  height: 26px
  position: relative
  a
    margin: auto
    display: block
    text-align: center
    line-height: 24px
    border-radius: 3px
    padding-right: 15px
  i
    right: 5px
    top: 5px
    position: absolute

  a:hover
    background: lighten(black,95)
  .active:hover
    background: white

  .rus
    display: none

.language:hover
  .rus
    display: block
.enter
  margin-left: 20px
@import "768"
@import "1200"
@import "1500"