@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800')

$orange: #d26e2c
%navs
  position: absolute
  top: 40%
  font-size: 70px
  margin: 0 -20px


body
  padding: 0
  margin: 0
  background: #fff
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 14px
button
  background: none
  border: 0
  outline: 0
  cursor: pointer
  transition: .5s
h1,h2,h3,h4,h5,h6,p
  margin: 0

div,section,article,header,footer
  display: block
  box-sizing: border-box

a
  outline: 0
  text-decoration: none
  color: black

ul
  margin: 0
  padding: 0
  li
    list-style: none

input
  box-sizing: border-box
  outline: 0
  display: block

form
  input
    border: 1px solid white
    &.error
      border: 1px solid red
    &.valid

  label
    &.error
      position: absolute
      color: red
      width: 100%
      display: block
      white-space: nowrap
      bottom: -30px

.wrap
  display: block
  width: 100%
  padding: 0 20px
  margin: auto
.desktop
  display: none
.tablet
  display: none
.mobile
  display: block
.row
  display: flex

.center
  justify-content: center

.left
  justify-content: flex-start

.right
  justify-content: flex-end

.space
  justify-content: space-between

.v-center
  align-items: center

.v-top
  align-items: flex-start

.v-bottom
  align-items: flex-end

.row-wrap
  flex-wrap: wrap

.column
  flex-direction: column

.m-column
  flex-direction: column
header
  margin: 15px 0 0
.tel
  font-size: 20px
  margin: auto
#logo
  width: 126px
  height: 32px
  background: url("../img/main-logo.svg") no-repeat center 100%/cover
  display: block
  margin: auto

.lang_fav_cart_prof
  i
    font-size: 23px
    cursor: pointer
.language
  background: white
  border: 1px solid black
  border-radius: 3px
  width: 56px
  height: 26px
  position: relative
  a
    margin: auto
    display: block
    text-align: center
    line-height: 24px
    border-radius: 3px
    padding-right: 15px
  i
    right: 5px
    font-size: 16px
    top: 5px
    position: absolute

  a:hover
    color: $orange
  .active:hover
    background: white
    color: #000

  .rus
    display: none

.wrapper-top-head
  border-bottom: 1px solid black
  padding-bottom: 15px
.delimiter
  margin: 0 10px
  font-size: 23px
  font-weight: 300
.enter
  margin-left: 20px
  a:hover
    color: $orange
  i
    margin-left: 5px

.main-cart
  i
    font-size: 35px
  a
    position: relative
.empty-card
  position: relative
.empty-wish
  position: relative
.message-empty
  position: absolute
  top: 40px
  background: white
  z-index: 1
  border: 1px solid lighten(black,70)

  border-radius: 4px
  width: 300px
  right: -15px
  padding: 5px 8px
  display: none
  h4
    text-transform: uppercase
    font-size: 16px
    font-weight: normal
    display: block
  p
    font-size: 12px
    margin-top: 5px


.message-empty:after
  content: "\f0d8"
  font-family: FontAwesome, serif
  position: absolute
  right: 17px
  font-size: 25px
  top: -18px
  color: lighten(black,70)


.wish
  cursor: pointer
  a
    position: relative
.empty--wish
  display: none
.mob-menu
  font-size: 35px


.empty-wish
  a
    display: none

  .empty--wish
    display: block

.wish,
.main-cart
  .count
    display: block
    position: absolute
    top: -13px
    right: -13px
    font-size: 11px
    background: $orange
    width: 20px
    height: 20px
    line-height: 20px
    color: white
    text-align: center
    border-radius: 50%
.site-menu-search
  margin:
    top: 15px
.site-menu
  font-size: 19px
  text-transform: uppercase
  ul
    li
      margin:
        right: 20px
.btn_search
  display: block
  background: none
  border: 0
  width: 20px
  height: 20px
  cursor: pointer
  z-index: 1
  position: relative


.btn_search::after
  content: '\f002'
  font-family: FontAwesome, serif
  color: #000
  font-size: 18px
  display: block
  position: absolute
  top: 0

.search
  input
    height: 30px
    display: block
    border-radius: 3px
    border: 1px solid lighten(black,60)
    width: 0
    opacity: 0
    transition: 1s


.search
  .active
    input
      width: 100%
      opacity: 1
.owl-dots
  position: absolute
  text-align: center


  .owl-dot
    display: inline-block
    margin: 0 5px
    span
      display: block
      width: 12px
      height: 12px
      background: white
      border-radius: 50%
      border: 1px solid $orange
  .active
    span
      background: $orange



.slider_desktop
  .owl-dots
    bottom: 5px
    left: 50%
  .owl-stage-outer
    height: auto
  .content
    img
      top: 0
      z-index: 0
    .wrapper
      position: absolute
      margin: auto
      width: 100%
      top: 0

.text-blocks
  margin-top: 10%
  .title
    color: white
    font-size: 25px
    font-weight: 600
  .sub-title
    font-size: 16px
    color: white

.bnt_go-to
  display: block
  background: $orange
  color: white
  width: 120px
  height: 30px
  text-align: center
  line-height: 30px
  font-size: 15px
  text-transform: uppercase
  border-radius: 2px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.58)
  margin-top: 20px
  transition: 0.5s

.section_name
  text-align: center
  font-size: 25px
  font-weight: normal
  text-transform: uppercase
  h1,h2,h3,h4,h5,h6
    text-align: center
    font-size: 25px
    font-weight: normal
    text-transform: uppercase
.section_name:after
  content: ''
  display: block
  width: 55px
  height: 2px
  background: $orange
  margin: 18px auto 0
.m-top
  margin:
    top: 50px

.wrapper-products
  .owl-dots
    width: 100%
    padding: 0 20px
    bottom: 285px
  .owl-stage-outer
    padding: 20px 0
  .owl-prev
    left: 0
    @extend %navs
  .owl-next
    right: 0
    @extend %navs

.product
  display: block
  width: 90%
  margin: auto
  height: auto
  border: 1px solid lighten(black,80)
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  transition: .5s
  .product_image
    width: 100%
    display: block
    position: relative

.product_btns_name
  padding: 20px
  height: 240px
  position: relative

.btn_price
  position: absolute
  width: 100%
  left: 0
  padding: 20px
  bottom: 0
  .v-bottom
    align-items: flex-start
.btn
  width: 100%
  height: 54px
  border: 1px solid $orange
  border-radius: 5px
  text-align: center
  line-height: 54px
  text-transform: uppercase
  font-size: 20px
  background: white
  cursor: pointer
  transition: .5s

.btn_buy
  i
    margin-right: 5px
.product-title
  font-size: 20px
.product-price
  font-size: 31px
  margin-bottom: 20px
  color: $orange
  font-weight: 600
  line-height: 22px
  span
    font-size: 22px
  .old_prise
    font-size: 17px
    font-weight: normal
    color: black
    text-decoration: line-through
    span
      font-size: 17px

.label
  position: absolute
  padding: 0 20px
  color: white
  top: 40px
  left: -13px
  line-height: 49px
  font-size: 20px
  width: 150px
  height: 69px
  background: url("../img/label.png") no-repeat center / cover

.section-news
  padding: 70px 0 20px
  background: lighten(black,95)

.news
  display: block
  position: relative
  height: 300px
  background: white
  width: 100%
  margin-bottom: 50px
  box-shadow: 0 0 25px rgba(black,.2)

.news-image
  width: 100%
  height: 220px
  position: relative
  overflow: hidden
  border-bottom: 2px solid $orange
  img
    min-width: 100%
    min-height: 220px
    height: 100%
    width: auto
    position: relative
    left: 50%
.news-text
  text-transform: uppercase
  padding: 0 30px
  height: 80px

.section-subscription
  padding: 50px 0
  background: lighten(black,25)
  color: white

%text-subscription
  color: white
  font-size: 20px
  font-weight: normal
  text-transform: uppercase

.text-subscription
  max-width: 640px
  width: 100%
  margin:
    bottom: 20px
  @extend %text-subscription
  h1,h2,h3,h4,h5,h6
    @extend %text-subscription


.wrapper-form-subscription
  width: 100%
.in-subscription
  width: 100%
  height: 45px
  border-radius: 5px
  padding: 0 10px
  font-size: 18px
.btn-subscription
  display: block
  background: $orange
  color: white
  height: 45px
  width: 145px
  border-radius: 5px
  margin-left: -10px
  z-index: 1
.form-group
  width: 100%
  position: relative
  box-sizing: border-box
.section_description_name
  text-align: center
  margin: 20px 0
  font-size: 18px


.map
  position: relative
.disable
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
.s-m-links
  & a,
  & p
    display: block
    margin: 10px 0
    font-size: 18px


%width_foot_col
  width: 210px
.footer-logo
  display: block
  background: url("../img/footer-logo.svg") no-repeat center/cover
  @extend %width_foot_col
  margin: auto
  height: 222px
.copyright
  background: black
  color: white
  text-align: center
  padding: 15px 0
  font-size: 12px

.site-map
  @extend %width_foot_col

%font-s-m-title
  font-size: 26px
.s-m-title
  @extend %font-s-m-title
  border-bottom: 1px solid $orange
  padding:
    bottom: 5px
  margin:
    bottom: 10px

  h1,h2,h3,h4,h5,h6
    @extend %font-s-m-title

.s-m-3
  margin: 40px auto 0
  text-align: center

%fixed-links
  color: white
  display: block
  font-size: 16px
  cursor: pointer
  height:  40px
  font-weight: normal

.fixed-callback_soc_links
  background: lighten(black,20)
  position: fixed
  left: -130px
  top: 50%
  z-index: 2
  color: white
  transform: rotate(-90deg)
  text-align: center

  .soc_link
    @extend %fixed-links
    width: 40px
    border-bottom: 1px solid white
    line-height: 40px
    transform: rotate(90deg)
.f-callback
  @extend %fixed-links
  white-space: nowrap
  line-height: 40px
  padding: 0 20px
  transition: .5s

.p-pad
  padding: 10px 20px
.popup-block
  position: relative
  background: white
  width: auto
  max-width: 500px
  margin: 20px auto
  border-radius: 5px
  .popup-name
    font-size: 20px
    font-weight: 300
    border-bottom: 2px solid $orange
    text-transform: uppercase


.in-main
  border: 1px solid lighten(black,70)
  width: 100%
  margin: 10px 0 20px
  height: 29px
  padding: 0 10px

#f-p-callback
  label
    &.error
      top: inherit
      bottom: -20px
@import "600"
@import "768"
@import "1200"
@import "1500"
@import "unregistered"
@import "registered"